!.gitignore
.DS_Store
**/.DS_Store
**/*.o
**/*.dSYM
**/*.pgm
**/*.bmp
**/*.pyc
src/mandel_srl
src/mandel_omp
src/mandel_mpi
src/mandel_hyb
analysis/cluster/*.sh
analysis/cluster/slurm_*
analysis/shell/*.dat
analysis/shell/*.png
report/*
!report/paper.pdf
!report/figures